body {
  padding-top: 0;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}


h1 {
  font-size: 6rem;
  margin: 50px auto 0 auto;
  font-family: "Henny Penny", cursive;
  color: #e7750a;
  line-height: 2;
}

h2 {
  font-family: "Nixie One", cursive;
  font-size: 2.5rem;
  color: #070301;
  font-weight: normal;
}

.student {
  color: #77400d;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #781297;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding: 0 5px;
  font-weight: bold;
}

p {
  color: rgb(77, 77, 77);
  line-height: 2;
}

hr {
  border: dotted #e29727 6px; /*bolinhas de pular linha*/
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top {
  background-color: #0e1733;
  position: relative;
  padding-top: 1%; /*estava 3% */
  height: 730px;
}

.mid {
  margin: 100px 0;
  background-color: #ec720f;
  margin: 0;
}

.contact-me {
  padding: 50px 0;
}

.bot {
  background-color: #0e1733;
  padding: 75px 0;
  /* margin-top: 20px; */
}

.bot p {
  margin-top: 50px;
  color: #bccef8;
}

.bot a {
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.bot a:hover {
  color: #eaf6f6;
}

.about-me {
  width: 25%;
  display: inline-block;
}

.pro {
  text-decoration: underline;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 20px;
}

.bot-cloud {
  position: absolute;
  top: 349px;
  left: 15%;
  width: 200px;
  height: 400px;
}

.montanha {
  width: 400px;
}

.skills img {
  width: 25%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.pooh-img {
  float: right;
  margin-left: 30px;
}

.nadas {
  border: white;
}

.perfil {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid #000000;
  margin: 5%;
  object-fit: cover;
}

.btn {
  font-size: 18px;
  font-family: Trebuchet MS;
  width: 145px;
  height: 32px;
  border-width: 5px;
  color: rgb(107, 101, 101);
  border-color: rgba(233, 233, 233, 1);
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
  box-shadow: 1px 1px 0px -50px #899599;
  text-shadow: 0px 1px 0px rgba(223, 224, 240, 1);
  background: linear-gradient(#3baa25, #620c9b);
}

.btn:hover {
  background: linear-gradient(#0eb90e, #04c20e);
}

@media (max-width: 1200px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
  }

  h1 {
    font-size: 5rem;
  }

  .top-cloud {
    width: 15%;
  }

  .bot-cloud {
    width: 100px;
    height: 150px;
    left: 10px;
    top: 400px;
  }

  .montanha {
    width: 50%;
  }

  .mid {
    display: flex;
    flex-direction: column;
   padding-top: 15%;
  }

  .profile,
  .skills,
  .contact-me {
    margin-left: 0;
    margin-right: 0;
  }

  .code-img,
  .pooh-img {
    width: 100%;
  }

  .bot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
